<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
        <h3>Page published date : {{page.published_at | date: format:'basic'}}</h3>
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0610/2351/8939/files/sweater.gif?v=1636783328">
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
